.body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.column-one {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    background-color: #1F2937;
}

.column-one-header {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 24px;
}

.column-one-header {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    font-size: 16px;
    gap: 16px
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px 15% 75px 15%;
}

.intro-left {
    width: 40%;
    padding-right: 20px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 6px;
}

.hero-secondary-text {
    margin-bottom: 12px;
}

.hero-button {
    background-color: #3882F6;
    width: 75px;
    border-radius: 5px;
}

.column-two {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    background-color: white;
    align-items: center;
    text-align: center;
}

.column-two-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.column-two-header-text {
    margin-top: 36px;
    margin-bottom: 36px;
}

.column-two-images {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 100;
    gap: 60px;
}

.puppy-image {
    width: 200px;
    height: 300px;
}

.puppy-image img {
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.column-three {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding-top: 100px;
}

.quote-author {
    font-size: 24px;
    font-weight: 600;
    text-align: end;
    padding-bottom: 100px;
}

.quote, .quote-author {
    margin: 0 20% 0 20%;
}

.column-four {
    background-color: white;
}

.promo-box {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    margin: 100px 250px 100px 250px;
}

.promo-left, promo-button {
    padding: 50px
}

.promo-left {
    text-align: center;
}

.promo-button {

}