.body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.column-one {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.intro {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 75px;
}

.intro-left {
    padding-right: 20px;
}